<div class="zurb-footer-bottom">
  <div class="row">
    <div class="large-4 medium-4 small-4 push-8 columns">
      <ul class="home-social">
          <li><a href="http://www.twitter.com/ZURB" class="twitter"></a></li>
          <li><a href="http://www.facebook.com/ZURB" class="facebook"></a></li>
          <li><a href="http://zurb.com/contact" class="mail"></a></li>
        </ul>
     </div>
     <div class="large-8 medium-8 small-8 pull-4 columns">
        <a href="http://www.usach.cl" class="zurb-logo regular"><%= image_tag "udesantiago_logo.png"  %></a>
        <ul class="zurb-links">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact",   contact_path %></li>
          <li><%= link_to "Help",   help_path %></li>
        </ul>
       <p class="copyright">&copy; 1998&dash;2014 ZURB, Inc. All rights reserved.</p>
    </div>          
  </div>
</div>