<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "My Site", root_path%></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if signed_in? %>           
        <li class="avatar">
          <a href=<%= user_path(current_user) %>>
            <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar_url  %>
            <% else %>
              <%= image_tag "icon-user-default.png"  %>
            <% end %>
            <%= current_user.name %> 
          </a>
        </li>
                
        <li class="divider"></li>
        <li class="has-form">
          <%= link_to "Sign out", signout_path, method: "delete", class: "button success" %>
        </li>  
        
      <% else %>

        <%= render "forms/login" %>
      <% end %>
    </ul>    
  </section>
</nav>